* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    padding: 5vh 10vw;
    background-color: #7FC7D9;
    display: grid;
}
.search {
    margin: 5vh 0;
    width: 90%;
    display: flex;
    justify-content: space-between;
    justify-self: center;
}
#select_universe {
    padding: 5px 2px;
    font-size: 2.5vh;
    color: #C2DEDC;
    background-color: #0F1035;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
}
#select_universe:hover{
    opacity: .85;
}
#name {
    margin-right: 70px;
    padding-left: 10px;
    width: 400px;
    border: solid 2px #0F1035;
    border-radius: 5px;
    background-image: url(../images/search.png);
    background-size: 7%;
    background-repeat: no-repeat;
    background-position: 98%;
}
.title {
    margin: 15px 25px 25px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 30px;
}
.logo {
    width: 80.63px;
    border-radius: 100%;
}
.container {
    margin: 0 0 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 15px;
}
.card {
    padding: 5% 5% 0;
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0766AD;
    border-radius: 10px;
}
.image {
    width: 100%;
    height: 90%;
    background-size: 300px;
    background-position: center;
    background-repeat: no-repeat;
}
.info {
    width: 90%;
    height: 15%;
    font-size: 18px;
    color: #0F1035;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.open {
    padding: 0 8px;
    color: #C2DEDC;
    background-color: #0F1035;
    border-radius: 5px;
    cursor: pointer;
    font-size: 25px;
}
.close {
    position: absolute;
    top: 1.5vh;
    right: 1.5vh;
    color: #C2DEDC;
    font-size: 50px;
    cursor: pointer;
}
.fondo{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    justify-content: center;
    transition: .1s linear;
    visibility: hidden;
}
.window{
    margin: 7vh 5vw;
    padding: 4vh 5vh;
    height: 81vh;
    width: 120vh;
    background-color: #535C91;
    display: grid;
    grid-template-columns: 3fr 2fr;
    border-radius: 15px;
    gap: 20px;
}
.window--image{
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 98%;
}
.window--text {
    border-radius: 10px;
    color: #F3EEEA;
    font-size: 120%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.window--text p{
    margin: 23px 10px;
}
@media screen and (max-width: 720px){
    .search{
        height: 11vh;
        flex-direction: column;
        align-items: center;
    }
    #name {
        height: 37%;
        width: 100%;
        background-size: 5%;
    }
    .fondo{
        align-items: center;
    }
    .window {
        padding: 20px;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 2fr;
    }
    .window--image{
        background-size: 70%;
    }
    .window--text{
        font-size: 2.3vh;
    }
}